* {
  font-family: "Courier New", Courier, monospace;
}

h2 {
  color: #1b74e4;
}

div button {
  color: white;
  background-color: black;
}

#id button {
    color: black;
  background-color: aqua;
}
